In [121]:
# Emily Adler, eja64@pitt.edu, 12:30pm, Project

In [122]:
# Part 1
import pandas as pd
url = "https://raw.githubusercontent.com/profAltaf/busbis100/main/cellphone_reviews2023.csv"
df = pd.read_csv(url)
df.head()
df.tail()
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646 entries, 0 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asin           646 non-null    object
 1   brand          643 non-null    object
 2   title          646 non-null    object
 3   url            646 non-null    object
 4   image          646 non-null    object
 5   rating         646 non-null    float64
 6   totalReviews   646 non-null    object
 7   price          646 non-null    object
 8   originalPrice  646 non-null    float64
dtypes: float64(2), object(7)
memory usage: 45.6+ KB

In [123]:
# Part 2
unique_brands = df['brand'].unique()
unique_brands

array([nan, 'Motorola', 'Nokia', 'Samsung', 'samsung', 'HUAWEI', 'Sony',
       'Apple', 'Google', 'ASUS', 'Moto rola', 'OnePlus', 'Xiaomi',
       'Motolora'], dtype=object)

In [124]:
# Part 3: Data Cleaning

In [125]:
# Part 3 [Converting Data Types To Numeric]
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['totalReviews'] = pd.to_numeric(df['totalReviews'], errors='coerce')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646 entries, 0 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asin           646 non-null    object
 1   brand          643 non-null    object
 2   title          646 non-null    object
 3   url            646 non-null    object
 4   image          646 non-null    object
 5   rating         646 non-null    float64
 6   totalReviews   644 non-null    float64
 7   price          645 non-null    float64
 8   originalPrice  646 non-null    float64
dtypes: float64(4), object(5)
memory usage: 45.6+ KB

           rating  totalReviews       price  originalPrice
count  646.000000    644.000000  645.000000     646.000000
mean     3.787616    104.082298  243.982264      66.963514
std      1.535129    168.900003  206.366757     177.372477
min      1.000000      1.000000    0.000000       0.000000
25%      3.400000      7.000000   94.990000       0.000000
50%      3.800000     31.000000  194.990000       0.000000
75%      4.200000    115.000000  362.750000       0.000000
max     38.000000    983.000000  999.990000     999.990000

In [126]:
# Part 3.1 [Remove NA Rows in 'brand']
df.dropna(subset=['brand'],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 643 entries, 1 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asin           643 non-null    object
 1   brand          643 non-null    object
 2   title          643 non-null    object
 3   url            643 non-null    object
 4   image          643 non-null    object
 5   rating         643 non-null    float64
 6   totalReviews   641 non-null    float64
 7   price          642 non-null    float64
 8   originalPrice  643 non-null    float64
dtypes: float64(4), object(5)
memory usage: 50.2+ KB

In [127]:
# Part 3.2 [Remove Rows Where 'price' = 0]
df_price0 = df.query('price == 0')
df.drop(index = df_price0.index, inplace=True)
df.dropna(subset=['price'],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 534 entries, 1 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asin           534 non-null    object
 1   brand          534 non-null    object
 2   title          534 non-null    object
 3   url            534 non-null    object
 4   image          534 non-null    object
 5   rating         534 non-null    float64
 6   totalReviews   532 non-null    float64
 7   price          534 non-null    float64
 8   originalPrice  534 non-null    float64
dtypes: float64(4), object(5)
memory usage: 41.7+ KB

In [128]:
# Part 3.3 [Fix 'price' Column]
df['price']
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df_price = df.query('price <= 10')
df.drop(index = df_price.index, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 533 entries, 1 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asin           533 non-null    object
 1   brand          533 non-null    object
 2   title          533 non-null    object
 3   url            533 non-null    object
 4   image          533 non-null    object
 5   rating         533 non-null    float64
 6   totalReviews   531 non-null    float64
 7   price          533 non-null    float64
 8   originalPrice  533 non-null    float64
dtypes: float64(4), object(5)
memory usage: 41.6+ KB

In [129]:
# Part 3.4 [Fix 'totalReviews' Columns]
df['totalReviews']
df['totalReviews'] = pd.to_numeric(df['totalReviews'], errors='coerce')
df.dropna(subset=['totalReviews'],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 531 entries, 1 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asin           531 non-null    object
 1   brand          531 non-null    object
 2   title          531 non-null    object
 3   url            531 non-null    object
 4   image          531 non-null    object
 5   rating         531 non-null    float64
 6   totalReviews   531 non-null    float64
 7   price          531 non-null    float64
 8   originalPrice  531 non-null    float64
dtypes: float64(4), object(5)
memory usage: 41.5+ KB

In [130]:
# Part 3.5 [Remove Duplicate asin's]
df.drop_duplicates(subset=['asin'], keep='first',inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 528 entries, 1 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asin           528 non-null    object
 1   brand          528 non-null    object
 2   title          528 non-null    object
 3   url            528 non-null    object
 4   image          528 non-null    object
 5   rating         528 non-null    float64
 6   totalReviews   528 non-null    float64
 7   price          528 non-null    float64
 8   originalPrice  528 non-null    float64
dtypes: float64(4), object(5)
memory usage: 41.2+ KB

In [131]:
# Part 3.6 [Fix 'brand' names]
df['brand'] = df['brand'].str.capitalize()
df['brand'] = df['brand'].replace('samsung','Samsung')
df['brand'] = df['brand'].replace('Moto rola','Motorola')
df['brand'] = df['brand'].replace('Oneplus','OnePlus')
df['brand'] = df['brand'].replace('Asus','ASUS')
df['brand'] = df['brand'].replace('Motolora','Motorola')
unique_brands = df['brand'].unique()
unique_brands
df.head()

,asin,brand,title,url,image,rating,totalReviews,price,originalPrice
1,B0009N5L7K,Motorola,Motorola I265 phone,https://www.amazon.com/Motorola-i265-I265-phon...,https://m.media-amazon.com/images/I/419WBAVDAR...,3.0,7.0,49.95,0.0
2,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,https://www.amazon.com/MOTOROLA-C168i-CINGULAR...,https://m.media-amazon.com/images/I/71b+q3ydkI...,2.7,22.0,99.99,0.0
4,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,https://www.amazon.com/Motorola-V365-contract-...,https://m.media-amazon.com/images/I/61LYNCVrrK...,3.1,12.0,149.99,0.0
9,B002WTC1NG,Motorola,Motorola Barrage V860 Phone (Verizon Wireless),https://www.amazon.com/Motorola-Barrage-V860-V...,https://m.media-amazon.com/images/I/81k6Nq0KI1...,3.6,352.0,139.99,0.0
10,B0033SFV5A,Samsung,Verizon or PagePlus Samsung Smooth U350 Great ...,https://www.amazon.com/Verizon-PagePlus-Samsun...,https://m.media-amazon.com/images/I/61nD-TYqHm...,3.3,57.0,64.99,0.0

In [132]:
# Part 3.7 [Delete 'image' and 'originalPrice' Columns]
df.drop(columns =['image','originalPrice'],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 528 entries, 1 to 645
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   asin          528 non-null    object
 1   brand         528 non-null    object
 2   title         528 non-null    object
 3   url           528 non-null    object
 4   rating        528 non-null    float64
 5   totalReviews  528 non-null    float64
 6   price         528 non-null    float64
dtypes: float64(3), object(4)
memory usage: 33.0+ KB

In [133]:
# Part 4: Computed Columns
df['Review_URL'] = ''
Review_URL = "http://www.amazon.com/reviews/"
df['Review_URL'] = Review_URL + df['asin']
df.head()
df['Price (Euros)'] = df['price'] * 0.97
df['Price (Euros)'] = round(df['Price (Euros)'],2)
df.head()

,asin,brand,title,url,rating,totalReviews,price,Review_URL,Price (Euros)
1,B0009N5L7K,Motorola,Motorola I265 phone,https://www.amazon.com/Motorola-i265-I265-phon...,3.0,7.0,49.95,http://www.amazon.com/reviews/B0009N5L7K,48.45
2,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,https://www.amazon.com/MOTOROLA-C168i-CINGULAR...,2.7,22.0,99.99,http://www.amazon.com/reviews/B000SKTZ0S,96.99
4,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,https://www.amazon.com/Motorola-V365-contract-...,3.1,12.0,149.99,http://www.amazon.com/reviews/B001DCJAJG,145.49
9,B002WTC1NG,Motorola,Motorola Barrage V860 Phone (Verizon Wireless),https://www.amazon.com/Motorola-Barrage-V860-V...,3.6,352.0,139.99,http://www.amazon.com/reviews/B002WTC1NG,135.79
10,B0033SFV5A,Samsung,Verizon or PagePlus Samsung Smooth U350 Great ...,https://www.amazon.com/Verizon-PagePlus-Samsun...,3.3,57.0,64.99,http://www.amazon.com/reviews/B0033SFV5A,63.04

In [134]:
# Part 5: Finalizing Cleaned File
df.to_csv('Project_eja64_CleanedData.csv')
unique_brands = df['brand'].unique()
unique_brands

array(['Motorola', 'Samsung', 'Nokia', 'Huawei', 'Sony', 'Apple',
       'Google', 'ASUS', 'OnePlus', 'Xiaomi'], dtype=object)

In [135]:
# Part 5: Finalizing Cleaned File
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 528 entries, 1 to 645
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asin           528 non-null    object
 1   brand          528 non-null    object
 2   title          528 non-null    object
 3   url            528 non-null    object
 4   rating         528 non-null    float64
 5   totalReviews   528 non-null    float64
 6   price          528 non-null    float64
 7   Review_URL     528 non-null    object
 8   Price (Euros)  528 non-null    float64
dtypes: float64(4), object(5)
memory usage: 41.2+ KB

In [136]:
# Part 6: Analysis

In [137]:
# Part 6.1: How many phones have a rating greater than 4.5?
df_phones_rating = df.query("`rating` > 4.5")
print(f"There are {len(df_phones_rating)} phones that have a rating greater than 4.5.")

There are 43 phones that have a rating greater than 4.5.

In [138]:
# Part 6.2: What is the highest price in Samsung phones?
df_Samsung = df.query("`brand` == 'Samsung'")
samsung_highest_price = df_Samsung['price'].max()
print(f"The highest price in Samsung phones is ${samsung_highest_price}.")

The highest price in Samsung phones is $999.99.

In [139]:
# Part 6.3: What is the highest number of reviews for Samsung phones?
df_Samsung = df.query("`brand` == 'Samsung'")
highest_reviews = df_Samsung['totalReviews'].max()
print(f"The highest number of reviews for Samsung phones is {highest_reviews} reviews.")

The highest number of reviews for Samsung phones is 915.0 reviews.

In [140]:
# Part 6.4: How many phones have the title containing the word "Pro"?
pro_phones_df = df['title'].str.contains('Pro')
print(f"There are {pro_phones_df.sum()} phones that have the title containing the word \"Pro\".")

There are 19 phones that have the title containing the word "Pro".

In [141]:
# Part 6.5: How many phones have a title with the word "Samsung"?
samsung_phones_df = df['title'].str.contains('Samsung')
print(f"There are {samsung_phones_df.sum()} phones that have the title with the word \"Samsung\".")

There are 232 phones that have the title with the word "Samsung".

In [142]:
# Part 6.6: Which phone model (print title) has the highest price from all the cell-phones present?
highest_price = df['price'].max()
highest_price
# Harded coded 999.99 because that is the max price, executed in line 2
max_df = df.query("price == 999.99")
max_df
# Hard coded 570 becuase that is the index of the row where the max price is located, executed in line 5
title_highest_brand = df.loc[570,'title']
title_highest_brand
print(f"The phone model that has the highest price from all the cell-phones present is the {title_highest_brand} with a price of ${highest_price}.")

The phone model that has the highest price from all the cell-phones present is the Samsung Galaxy Note 10+ Plus Factory Unlocked Cell Phone with 512GB (U.S. Warranty), Aura Black/ Note10+ with a price of $999.99.